.input {
    min-width: 300px;

    label {
        text-indent: 5px;
        margin-bottom: 2px;
    }

    .error {
        font-size: 15px;
        color: var(--red);
        text-indent: 15px;
    }
}

.select {

}

.date {
    .react-datepicker-wrapper {
        width: 100%;
    }
}

.textarea {
}

.timeslot {
    .time {
        width: 100px !important;
    }

    .possibleHours {
        position: absolute;
        background-color: #fff;
        transition: .2s;
        top: 0;
        left: 50%;
        border: 1px solid black;
        border-radius: 10px !important;
        padding: 10px;
        z-index: 3;
    }
}